<!doctype html>
<html lang="ru">
<head>
    <%- include('../_layouts/head') %>
</head>
<body>
<%- include('../_layouts/alerts') %>
<%- include('../_layouts/sidebar') %>
<div class="page" id="main">
    <%- include('../_layouts/topbar') %>
    <div class="content" id="content">
        <div class="content-body">
            <vmd-dropdown :items="reportsList" title="title" label="Отчет" v-model="report"></vmd-dropdown>
            <div v-if="report.name === 'dayReport'">
                <div class="row">
                    <vmd-datepicker class="col-md-6" v-model="dayReportDate" label="Дата начала"></vmd-datepicker>
                    <vmd-datepicker class="col-md-6" v-model="dayReportDateEnd" label="Дата окончания"></vmd-datepicker>

                    <div class="col-md-12" >
                        <h4 class="col-md-12" style="margin-top: 15px; margin-bottom: 5px">Дополнительные параметры:</h4>
                        <div class="col-md-6">
                            <input type="checkbox" id="isNeedAddManagerCheckbox" v-model="isNeedAddManager">
                            <label for="isNeedAddManagerCheckbox">Менеджер</label>
                        </div>
                        <div class="col-md-6">
                            <input type="checkbox" id="isNeedAddCompanyCheckbox" v-model="isNeedAddCompany">
                            <label for="isNeedAddCompanyCheckbox">Компания</label>
                        </div>
                        <div class="col-md-6">
                            <input type="checkbox" id="isNeedAddFromRegionCheckbox" v-model="isNeedAddFromRegion">
                            <label for="isNeedAddFromRegionCheckbox">Регион погрузки</label>
                        </div>
                        <div class="col-md-6">
                            <input type="checkbox" id="isNeedAddDestinationRegionCheckbox" v-model="isNeedAddDestinationRegion">
                            <label for="isNeedAddDestinationRegionCheckbox">Регион выгрузки</label>
                        </div>
                        <div class="col-md-6">
                            <input type="checkbox" id="isNeedAddStateCheckbox" v-model="isNeedAddState">
                            <label for="isNeedAddStateCheckbox">Статус заявки</label>
                        </div>
                        <div class="col-md-6">
                            <input type="checkbox" id="isNeedUseArchiveCheckbox" v-model="isNeedUseArchive">
                            <label for="isNeedUseArchiveCheckbox">Включить архивные заявки</label>
                        </div>
                    </div>

                    <div class="col-md-4"></div>
                    <button class="inline-button col-md-4" style="margin: 15px" @click="getReport"><span>Получить отчет</span></button>
                    <div class="col-md-4"></div>
                </div>
                <table v-if="dayReportData">
                    <thead>
                    <tr>
                        <th>Название компания</th>
                        <th >Общий вес</th>
                        <th>Общий объем</th>
                        <th>Количество заявок</th>
                    </tr>
                    </thead>
                    <tbody>
                    <template v-for="(org, i) in dayReportData">
                        <tr :key="org.organization_id">
                            <td><a @click.prevent="org.visible = !org.visible">{{ org.organization_name }}</a></td>
                            <td style="width: 140px; text-align: right">{{ org.weight_sum }}</td>
                            <td style="width: 140px; text-align: right">{{ org.volume_sum }}</td>
                            <td style="width: 140px; text-align: right">{{ org.count_ttl }}</td>
                        </tr>
                        <template v-if="org.visible">
                            <tr v-for="man in org.mans" :key="man.person_id">
                                <td style="padding-left: 48px">{{ man.surname + ' ' + man.name + ' ' + man.patronymic }}</td>
                                <td style="width: 140px; text-align: right">{{ man.weight_sum }}</td>
                                <td style="width: 140px; text-align: right">{{ man.volume_sum }}</td>
                                <td style="width: 140px; text-align: right">{{ man.count_ttl }}</td>
                            </tr>
                        </template>
                    </template>
                    <tr>
                        <td style="text-align: right; font-weight: 500">ИТОГО:</td>
                        <td style="text-align: right; font-weight: 500">{{ dayReportSum('weight_sum') }}</td>
                        <td style="text-align: right; font-weight: 500">{{ dayReportSum('volume_sum') }}</td>
                        <td style="text-align: right; font-weight: 500">{{ dayReportSum('count_ttl') }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        var content = new Vue({
            el: '#content',
            name: 'content',
            data: {
                errors: [],
                report: {},
                reportsList: [
                    {title: 'Отчет за день (кол-во необработанных заявок)', name: 'dayReport'}
                ],
                dayReportDate: '',
                dayReportDateEnd: '',
                dayReportData: null,
                showParams: true,
                isNeedAddManager: false,
                isNeedAddCompany: false,
                isNeedAddFromRegion: false,
                isNeedAddDestinationRegion: false,
                isNeedAddState: false,
                isNeedUseArchive: false,
            },
            watch: {
//                dayReportDate: function (newVal) {
//
////                    if (this.dayReportDateEnd === ''){
////                        let err = 'Нужно заполнить дату окончания';
////                        this.errors.push(err);
////                        alert(err);
////                        return;
////                    }
////                    else if (Date.parse(this.dayReportDate) > Date.parse(this.dayReportDateEnd)){
////                        let err = 'Дата окончания должна быть позже даты начала';
////                        this.errors.push(err);
////                        alert(err);
////                        return;
////                    }
//                    socket.emit('command', {
//                        name: 'getReport_dayReport',
//                        data: {
//                            date: newVal
//                        }
//                    })
//                }
            },
            created: function () {
                var self = this;
                socket.on('data', function (data) {
                    if (data.name === 'getReport_dayReport') {
                        self.dayReportData = data.data;
                    }
                })
            },
            methods: {
                getReport: function () {
                    socket.emit('command', {
                        name: 'getReport_periodReport',
                        data: {
                            date: this.dayReportDate,
                            dateEnd: this.dayReportDateEnd,
                            parameters: {
                                isNeedAddManager: this.isNeedAddManager,
                                isNeedAddCompany: this.isNeedAddCompany,
                                isNeedAddFromRegion: this.isNeedAddFromRegion,
                                isNeedAddDestinationRegion: this.isNeedAddDestinationRegion,
                                isNeedAddState: this.isNeedAddState,
                                isNeedUseArchive: this.isNeedUseArchive,
                            }
                        }
                    })
                },
                dayReportSum: function (item) {
                    var sum = 0;
                    if (this.dayReportData) {
                        for (var key in this.dayReportData) {
                            sum += parseInt(this.dayReportData[key][item]);
                        }
                    }
                    return sum;
                }
            }
        })
    </script>
</div>
</body>
</html>