<!doctype html>
<html lang="ru">
<head>
    <%- include('../_layouts/head') %>
</head>
<body>
<%- include('../_layouts/alerts') %>
<%- include('../_layouts/sidebar') %>
<div class="page" id="main">
    <%- include('../_layouts/topbar') %>
    <div class="content" id="content">
        <div class="content-body">
            <div class="panel">
                <div class="panel-body">
                    <h2>Список изменений:</h2>
                    <h4>18.08.2018</h4>
                    <ul>
                        <li>Возможность редактирования организаций (Каталог -> Организации).</li>
                        <li>Возможность редактирования точек (Каталог -> Точки).</li>
                        <li>В карточке заявки показываются примечания от точек погрузки и выгрузки.</li>
                        <li>При закрытии заявки логист должен указать ставку закрытия.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>
        var content = new Vue({
            el: '#content',
            name: 'content'
        })
    </script>
</div>
</body>