<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href="/css/bootstrap.css">
<title><%= page.title %></title>
<script src="/js/socket.io.js"></script>
<script src="/js/moment-with-locales.min.js"></script>
<script>
    moment.locale('ru');

    var socket = io();
    socket.on('command', function (data) {
        if (data.name === 'logout')
            window.location.href = "/logon";
    });

    socket.on('delete_cookie', (name) => {
        //document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        alert(name + ": " + document.cookie.toString());
    });
</script>
<script src="/js/luxon.min.js"></script>
<script src="/js/vue.js"></script>
<script src="/js/components.js"></script>