<!doctype html>
<html lang="ru">
<head>
    <%- include('./_layouts/head') %>
    <script src="/js/sha256.min.js"></script>
</head>
<body>
<%- include('./_layouts/alerts') %>
<div class="page">
    <div class="content" id="content">
        <div class="content-body">
            <div class="panel" style="width: 380px; margin: 0 auto;">
                <div class="panel-body">
                    <span class="page-title">Poligruz</span>
                    <span class="subtitle">Transport Management System</span>
                </div>
                <div class="panel-body">
                    <div class="groupbox vertical">
                        <vmd-input v-model="login" label="Имя пользователя*" helper="*Обязательно" lead-icon="account"></vmd-input>
                        <vmd-input type="password" v-model="password" label="Пароль*" helper="*Обязательно" lead-icon="key"></vmd-input>
                    </div>
                </div>
                <div class="panel-footer align-right">
                    <button class="inline-button" :disabled="logonDisabled" @click="logon"><span>Войти</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var content = new Vue({
        el: '#content',
        name: 'content',
        data: {
            login: '',
            password: ''
        },
        computed: {
            passwordHash: function () {
                return sha256(this.password);
            },
            logonDisabled: function () {
                return this.login.trim().length === 0 || this.password.trim().length === 0;
            }
        },
        created: function () {
            socket.on('command', function (command) {
                if (command.name === 'logon') {
                    window.location.replace("/");
                }
            });
        },
        methods: {
            logon: function () {
                if (!this.logonDisabled) {
                    socket.emit('command', {
                        name: 'logon',
                        data: {
                            login: this.login,
                            passwordHash: this.passwordHash
                        }
                    });
                }
            }
        }
    });
</script>
</body>
</html>